/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FEFCF6;
  color: #162A2C;
}

/* Header */
header {
  text-align: center;
  background-color: #5E6C5B;
  color: #F4EFE6;
  padding: 20px;
}

/* Navigation */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #162A2C;
  padding: 10px;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #F4EFE6;
  text-decoration: none;
}

/* Filters */
.filters {
  margin: 20px 0;
}

.charts iframe {
  width: 48%;
  height: 300px;
  margin: 1%;
}

#weather-container {
  font-size: 18px;
  color: #162A2C;
}
